@font-face {
    font-family: domain;
    src: url(./domain.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: sans-serif; */
    font-family: "Editorial New";
}

html, body {
    width: 100%;
    height: 100%;
}

#main{
    background-color: black;
    overflow-x: hidden;
}
#page1{
    height: 140vh;
    width: 100vw;
    background-color: rgb(197,190,180);
    position: relative;
    overflow: hidden;
}

#nav{
    height: 60px;
    width: 100%;
    padding: 20px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #222;
}

#nav img{
    height: 20px;
    width: 30%;
}
#nav h5{
    font-size: 15px;
    font-weight: 100;
    width: 30%;
}

#nav i{
    font-size: 18px;
    width: 30%;
    text-align: right;
}

#elems{
    height: 350px;
    width: 100%;
    padding: 40px 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#elem1{
    width: 30%;
    height: 100%;
}

#elem1 #image-div{
    height: 50%;
    width: 100%;
    overflow: hidden;
}

#elem1 h4{
    font-size: 22px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: Canopee;
}

#elem1 h4 span{
    background-color: orangered;
    color: white;
    font-size: 14px;
    padding: 4px;
    margin-left: 5px;
    border-radius: 5px;
}

#elem1 p{
    font-size: 16px;
    font-family: domain;
}

#image-div img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: all ease 0.5s;
}


#elem2{
    width: 30%;
    height:100%;
    text-align: center;
    border-right: 1px solid #1d1d11;
    border-left: 1px solid #1d1d11;
}
#elem2 h2{
    font-family: Canopee;
    font-size: 60px;
    font-weight: 100;
}

#elem2 h3{
    font-family: domain;
    font-size: 35px;
    font-weight: 100;
    margin-top: 8px;

}

#elem2 h6{
    margin-top: 30px;
    font-size: 14px;
    font-weight: 200;
}
#elem3{
    width: 30%;
    height: 100%;

}

#elem3 #image-div{
    height: 50%;
    width: 100%;
    overflow: hidden;
}
#elem3 h4{
    font-size: 22px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: Canopee;
}

#elem3 h4 span{
    background-color: orangered;
    color: white;
    font-size: 14px;
    padding: 4px;
    margin-left: 5px;
    border-radius: 5px;
}

#elem3 p{
    font-size: 16px;
    font-family: domain;
}
#image-div:hover img{
    scale: 1.1;
}

#page1 h1{
    width: 96%;
    margin-left: 2%;
    font-size: 465px;
    letter-spacing: -5px;
    font-family: Canopee;
    font-weight: 100;
    line-height: 400px;
    color: #c5beb4;
    background-color: black;
}

#page2{
    height: 150vh;
    width: 100%;
    padding: 60px 10px;
    background-color: #c5beb4;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#page2-left{
    height: 100%;
    width: 35%;
    padding-right: 30px;
    border-right: 1px solid black;
}

#page2-left h2{
    font-size: 90px;
    font-weight: 100;
    line-height: 100px;
    font-family: Canopee;
}
#page2-left h2 span{
    font-size: 130px;
    font-weight: 500;
    font-family: Canopee;
}

#page2-left img{
    height: 50%;
    width: 100%;
    object-fit: cover;
}

#page2-left p{
    margin-top: 10px;
    font-size: 25px;
    font-family: domain;
}
#page2-right{
    height: 100%;
    width: 70%;
    padding: 0 40px;
}
#page2-right img{
    height: 50%;
    width: 100%;
    object-fit: cover;
}

#page2-right h1{
    font-size: 80px;
    font-family: Canopee;
    font-weight: 100;
    padding:  20px 10px;
}

#page3{
    display: flex;
    position: relative;
    background-color: #c5beb4;
}
#page3 h1{
    font-size: 380px;
    width: fit-content;
    margin-left: 2%;
    padding: 0 20px;
    line-height: 300px;
    font-family: Canopee;
    font-weight: 100;
    background-color: black;
    color: #c5beb4;
    
}

#page3 img{
    height: 300px ;
    position: absolute;
    top: 0;
    right: .5%;
}